.game{
    width: 30rem;
    margin: 2rem auto;
    text-align: center;

    h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__row{
        display: flex;
        gap: .5rem;
        width: 100%;
        margin-bottom: .5rem;

        > div {
            flex-grow: 1;
        }
    }

    &__show-btn{
        margin-bottom: 1rem;
    }
}